<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="Main-container">
        <div class="form-group">
        <div class="container-login">
            <div class="wrap-login">
              <span class="login-form-title">Add Vehicle</span>
                <form class="register-form">
                   
                    <label>Name:</label>
                    <div class="wrap-input">
                        
                        <input type="text" class="input" placeholder="name"  
                        id="name" name="name"
                        [(ngModel)]="v.name"
                        #name="ngModel"    
                        required
                       >
                        <span class="focus-input" ></span>

                      
                    </div>
                    
                      
                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div class="w3-text-red"> Name of Vehicle is required.</div>
                      </div>
                      <br>
                      <h2>Type: </h2>
                    <select name="cars" id="cars" [(ngModel)]="v.type" placeholder="Select">
                      <option value="Large Truck">Large Truck</option>
                      <option value="Auto">Auto</option>
                      <option value="Medium Truck">Medium Truck</option>
                      <option value="Small Truck">Small Truck</option>
                    </select>
                 <br><br><br>
                      <label>Rate:</label>
                    <div class="wrap-input">
                        <input type="number" class="input" name="rate" placeholder="Rate" 
                        id="rate" min="0"
                        [(ngModel)]="v.rate"
                        #rate="ngModel"    
                        (keypress)="keyPressNumbers($event)"
                        required
                        >
                        <span class="focus-input"></span>
                        
                
                    </div>
                    <div *ngIf="rate.invalid && (rate.dirty || rate.touched)">
                        <div class="w3-text-red"> Rate is required.</div>
                      </div>
                      
                   
                    <br>
                  <form>
                  

                    <div class="login-form-btn-container">
                        <button class="login-form-btn" (click)="addvehicle()" >Add vehicle</button>
                    </div>
                 
                    
                  </form>
                  
  
                </form>
  
            </div>
        </div>
    </div>
    </div>
  
  </body>